<ion-header>
  <ion-toolbar>
    <ion-title>
      Night Log
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-row>
   <ion-button class="center" (click)="logOvernight()">Log Overnight Sleep</ion-button>
   </ion-row>
   <ion-row><p></p></ion-row>
   <ion-row>Past Overnight Logs</ion-row>
   <ion-row><p></p></ion-row>
   <ion-row>
     <ion-list *ngFor="let sleep of Data; let i=index">
          <ion-item>
            <ion-label class="ion-text-wrap">{{i+1}}. {{sleep.dateString()}}, you slept {{sleep.summaryString()}}</ion-label>
          </ion-item>

    </ion-list>
   </ion-row>


</ion-content>
