<ion-header>
  <ion-toolbar>
    <ion-title>
      Home Page
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/imgs/night-sky.svg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>MySleepTracker</ion-card-subtitle>
        <ion-card-title>Welcome to MySleepTracker</ion-card-title>
      </ion-card-header>
      <ion-card-content>Going to bed or just feeling sleepy? Log your overnight sleep in the Night Log, and your sleepiness in the Day Log.</ion-card-content>
    </ion-card>
</ion-content>
